In [12]:
from pyspark import SparkContext,SparkConf
from pyspark.sql import SparkSession
from boto import s3

false_channel = [
        "130134201",
        "110134101106.0",
        "13013412700",
        "13013419400",
        "130134164",
        "47",
        "13013415800",
        "1301343257",
        "13013413400",
        "131",
        "142",
        "145",
        "180",
        "188",
        "196",
        "204",
        "210",
        "213",
        "215",
        "216",
        "223",
        "234",
        "250",
        "259",
        "262",
        "263",
        "265",
        "292",
        "296",
        "298",
        "306",
        "309",
        "313",
        "1301341500",
        "1301341232",
        "13013416000",
        "13013411000",
        "1301344600",
        "1301345600",
        "13013412000",
        "1301341272",
        "13013415900",
        "130134137",
        "1301371335",
        "130134126",
        "1301343900",
        "13013415200",
        "13013423200",
        "1301343234",
        "130134312108",
        "1301341300",
        "130134312173",
        "5000",
        "130134159",
        "1301343800",
        "1301345400",
        "1301341",
        "130134144",
        "13013443300",
        "268",
        "350",
        "389"
        ]
true_channel =[
        "130134000201",
        "110134101106",
        "130134012700",
        "130134019400",
        "130134000164",
        "47",
        "130134015800",
        "130134003257",
        "130134013400",
        "131",
        "142",
        "145",
        "180",
        "188",
        "196",
        "204",
        "210",
        "213",
        "215",
        "216",
        "223",
        "234",
        "250",
        "259",
        "262",
        "263",
        "265",
        "292",
        "296",
        "298",
        "306",
        "309",
        "313",
        "130134001500",
        "130134001232",
        "130134016000",
        "130134011000",
        "130134004600",
        "130134005600",
        "130134012000",
        "130134001272",
        "130134015900",
        "130134000137",
        "130134001335",
        "130134000126",
        "130134003900",
        "130134015200",
        "130134023200",
        "130134003234",
        "130134312108",
        "130134001300",
        "130134312173",
        "5000",
        "130134000159",
        "130134003800",
        "130134005400",
        "130134000001",
        "130134000144",
        "130134043300",
        "268",
        "350",
        "389"
        ]

properties = {
    "user": "test1",
    "password": "QmPhaQ8hYsxx"
}
tableName = "uid_creatTime"
url = "jdbc:mysql://54.223.192.252:3306/test"

def get_s3_list(daterange):
    prefix = "logics3/psid=4"
    total_size = 0
    REGION = "cn-north-1"
    conn = s3.connect_to_region(REGION)
    bucket = conn.lookup('prodlog')
    ret = []
    if bucket:
        for k in bucket.list(prefix=prefix):
            if k.size <=0:
                continue
            logsp = k.name.split('.')
            a = logsp[-4:-1]
            a.reverse()
            dt = ''.join(a)
            if dt == daterange:
                total_size += k.size
                ret.append('s3://prodlog/'+k.name)
                print('s3://prodlog/'+k.name, ''.join(a))
    print('total:%d'%(total_size/1024.0/1024.0/1024.0))
    return ret

def min_time(x,y):
    if int(x.lt) > int(y.lt):
        return y
    else:
        return x
    
if __name__ == '__main__':
    begin = datetime.date(2016,12,1)
    end = datetime.date(2017,5,12)

    for i in range((end - begin).days + 1):
        xx = str(begin + datetime.timedelta(days=i))
        pp = xx.split('-')
        day = "".join(pp)

        try:
            sc.stop()
        except:
            pass
        spark = SparkSession \
            .builder.enableHiveSupport() \
            .appName("Python Spark SQL basic example") \
            .config("spark.some.config.option", "some-value") \
            .getOrCreate()


        df = spark.read.json(get_s3_list(day))

        df.createOrReplaceTempView('RawTable')
        preparetable = 'RawTable'

        result1 = spark.sql(u'''
        SELECT
            *
        FROM %s
        WHERE accountid is not null 
        AND type_name!="CorpLevelChg" 
        '''%preparetable).cache().createOrReplaceTempView('jsonTable')

        #获取当日log里的最早的一次登录
        spark.sql(u"""
        SELECT
            t.uid AS uid,
            SUBSTRING(t.lt,0,10) AS lt,
            CAST(jsonTable.utc8 as DATE) AS date,
            jsonTable.sid AS sid,
            jsonTable.gid AS gid,
            jsonTable.channel AS ch,
            jsonTable.info.MachineType AS machine
        FROM (
            SELECT
                userid AS uid,
                min(logtime) AS lt
            FROM jsonTable
            WHERE type_name="Login"
            GROUP BY userid
        ) t
        LEFT JOIN jsonTable ON jsonTable.userid = t.uid AND jsonTable.logtime = t.lt
        """).cache().createOrReplaceTempView('account_ch')
        
        #获取当日log里分服务器玩家角色的第一次登录
        spark.sql(u"""
        SELECT
            t.acid AS acid,
            SUBSTRING(t.lt,0,10) AS lt,
            CAST(jsonTable.utc8 as DATE) AS date,
            jsonTable.sid AS sid,
            jsonTable.gid AS gid,
            jsonTable.channel AS ch,
            jsonTable.info.MachineType AS machine
        FROM (
            SELECT
                accountid AS acid,
                min(logtime) AS lt
            FROM jsonTable
            WHERE type_name="Login"
            GROUP BY accountid
        ) t
        LEFT JOIN jsonTable ON jsonTable.accountid = t.acid AND jsonTable.logtime = t.lt
        """).cache().createOrReplaceTempView('accountID_ch')
        
        #
        newlogiclog_df = spark.sql(u"""
        SELECT * 
        FROM account_ch 
        """)
        
        newlogiclog_acid_df = spark.sql(u"""
        SELECT * 
        FROM accountID_ch 
        """)

        #替换channel
        newlogiclog = newlogiclog_df.replace(false_channel,true_channel,"ch")
        newlogiclog_acid = newlogiclog_acid_df.replace(false_channel,true_channel,"ch")
        #读取mysql
        dataframe_mysql = spark.read.format("jdbc").option("url", url).option("driver", "com.mysql.jdbc.Driver").option("dbtable", tableName).option("user", properties[user]).option("password", properties[password]).load()
        dataframe_mysql_acid = spark.read.format("jdbc").option("url", url).option("driver", "com.mysql.jdbc.Driver").option("dbtable", "account_creatTime").option("user", properties[user]).option("password", properties[password]).load()
        #写mysql
        finalResult = dataframe_mysql.rdd.union(newlogiclog).map(lambda x: (x.uid,x)).reduceByKey(min_time).values()
        spark.createDataFrame(finalResult).write.jdbc(url, tableName,"append", properties)
        
        final_acid_Result = dataframe_mysql.rdd.union(newlogiclog_acid).map(lambda x: (x.uid,x)).reduceByKey(min_time).values()
        spark.createDataFrame(final_acid_Result).write.jdbc(url, "account_creatTime","append", properties)