In [41]:
# -*- coding:utf-8 -*-
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import *
import boto
from boto import s3
import datetime
import pandas as pd
import StringIO
import pytz
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, create_engine,Float
from sqlalchemy.orm import scoped_session, sessionmaker
import os
import time




now_utc = datetime.datetime.utcnow()
local_tz = pytz.timezone('Asia/Shanghai')
now_utc = pytz.utc.localize(now_utc)
local_time = now_utc.astimezone(local_tz)
current_date = local_time.strftime('%Y%m%d')

islocal = True
localPath = "/Users/tq/bigdatatest/"
# targetpay_path = 'uidcreattime-csv/pay/'
# target_path = 'uidcreattime-csv'
# firstDay = datetime.date(2016, 11, 10)

firstDay = datetime.date(2017, 3, 7)
target_path = '/Users/tq/bigdatatest/'
targetpay_path = 'Users/tq/bigdatatest/pay/' #本地
def getFalesChannel():
    false_channel = [
    "130134201",
    "110134101106.0",
    "13013412700",
    "13013419400",
    "130134164",
    "47",
    "13013415800",
    "1301343257",
    "13013413400",
    "131",
    "142",
    "145",
    "180",
    "188",
    "196",
    "204",
    "210",
    "213",
    "215",
    "216",
    "223",
    "234",
    "250",
    "259",
    "262",
    "263",
    "265",
    "292",
    "296",
    "298",
    "306",
    "309",
    "313",
    "1301341500",
    "1301341232",
    "13013416000",
    "13013411000",
    "1301344600",
    "1301345600",
    "13013412000",
    "1301341272",
    "13013415900",
    "130134137",
    "1301371335",
    "130134126",
    "1301343900",
    "13013415200",
    "13013423200",
    "1301343234",
    "130134312108",
    "1301341300",
    "130134312173",
    "5000",
    "130134159",
    "1301343800",
    "1301345400",
    "1301341",
    "130134144",
    "13013443300",
    "268",
    "350",
    "389"
]
    return false_channel

def getTrueChannel():
    true_channel = [
        "130134000201",
        "110134101106",
        "130134012700",
        "130134019400",
        "130134000164",
        "47",
        "130134015800",
        "130134003257",
        "130134013400",
        "131",
        "142",
        "145",
        "180",
        "188",
        "196",
        "204",
        "210",
        "213",
        "215",
        "216",
        "223",
        "234",
        "250",
        "259",
        "262",
        "263",
        "265",
        "292",
        "296",
        "298",
        "306",
        "309",
        "313",
        "130134001500",
        "130134001232",
        "130134016000",
        "130134011000",
        "130134004600",
        "130134005600",
        "130134012000",
        "130134001272",
        "130134015900",
        "130134000137",
        "130134001335",
        "130134000126",
        "130134003900",
        "130134015200",
        "130134023200",
        "130134003234",
        "130134312108",
        "130134001300",
        "130134312173",
        "5000",
        "130134000159",
        "130134003800",
        "130134005400",
        "130134000001",
        "130134000144",
        "130134043300",
        "268",
        "350",
        "389"
    ]
    return true_channel

def getDBDriver(tableName):
    return spark.read.format("jdbc").option("url", url).option("driver", "com.mysql.jdbc.Driver").option(
            "dbtable", tableName).option("user", properties['user']).option("password", properties['password']).load()


def get_s3_list(daterange,prefixpath):
    prefix = prefixpath
    total_size = 0
    REGION = "cn-north-1"
    conn = s3.connect_to_region(REGION)
    bucket = conn.lookup('prodlog')
    ret = []
    if bucket:
        for k in bucket.list(prefix=prefix):
            if k.size <= 0:
                continue
            logsp = k.name.split('.')
            a = logsp[-4:-1]
            a.reverse()
            dt = ''.join(a)
            if dt == daterange:
                total_size += k.size
                ret.append('s3://prodlog/' + k.name)
                print('s3://prodlog/' + k.name, ''.join(a))
    print('total:%d' % (total_size / 1024.0 / 1024.0 / 1024.0))
    return ret


def get_local_list(daterange):
        return "/Users/tq/bigdatatest/%s.log"%daterange

def get_file_list(daterange,prefixpath):
    if islocal:

        return get_local_list(daterange)
    else:
        return get_s3_list(daterange,prefixpath)



def get_s3_tempdata(dataName):
    prefix = "uidcreattime-csv/"
    total_size = 0
    REGION = "cn-north-1"
    conn = s3.connect_to_region(REGION)
    bucket = conn.lookup('prodlog')
    ret = []
    if bucket:
        for k in bucket.list(prefix=prefix):
            if k.size <= 0:
                continue
            if dataName == "payLog":
                logsp = k.name.split('/')
                a = logsp[len(logsp) - 1]
                if dataName in a:
                    total_size += k.size
                    ret.append('s3://prodlog/' + k.name)
                    print('test :s3://prodlog/' + k.name, ''.join(a))
            else:
                logsp = k.name.split('/')
                a = logsp[len(logsp)-1]
                csvName = a.split('.')[0]
                if csvName == dataName:
                    total_size += k.size
                    ret.append('s3://prodlog/' + k.name)
                    print('test :s3://prodlog/' + k.name, ''.join(a))
    print('total:%d' % (total_size / 1024.0 / 1024.0 / 1024.0))
    return ret

def getTempDataList(dataName):
    if islocal:
        return search(localPath,dataName)
    else:
        return get_s3_tempdata(dataName)

def search(path, word):
    name = []
    if word == "payLog":
        for filename in os.listdir("/Users/tq/bigdatatest/pay"):
            fp = os.path.join("/Users/tq/bigdatatest/pay", filename)
            if word in filename:
                name.append(fp)
    else:
        for filename in os.listdir(path):
            fp = os.path.join(path, filename)
            if os.path.isfile(fp) and word in filename:
                name.append(fp)
    print name
    return name

def min_time(x, y):
    if int(x.lt) > int(y.lt):
        return y
    else:
        return x

def upload_to_s3(pandasdf, region, bucket_name, s3_filepath):
    for column in pandasdf.columns:
        for idx in pandasdf[column].index:
            x = pandasdf.get_value(idx, column)
            try:
                x = unicode(x.encode('utf-8', 'ignore'), errors='ignore') if type(x) == unicode else unicode(str(x),errors='ignore')
                pandasdf.set_value(idx, column, x)
            except Exception:
                print
                'encoding error: {0} {1}'.format(idx, column)
                pandasdf.set_value(idx, column, '')
                continue
    json_buffer = StringIO.StringIO()
    pandasdf.to_json(json_buffer,orient='records')
    conn = boto.s3.connect_to_region(region)
    bucket = conn.get_bucket(bucket_name)
    full_key_name = s3_filepath
    k = bucket.new_key(full_key_name)
    k.set_contents_from_string(json_buffer.getvalue())
    return None

def upload_to_local(pandasdf, s3_filepath):
#     for column in pandasdf.columns:
#         for idx in pandasdf[column].index:
#             x = pandasdf.get_value(idx, column)
#             try:
#                 x = unicode(x.encode('utf-8', 'ignore'), errors='ignore') if type(x) == unicode else unicode(str(x),errors='ignore')
#                 pandasdf.set_value(idx, column, x)
#             except Exception:
#                 print
#                 'encoding error: {0} {1}'.format(idx, column)
#                 pandasdf.set_value(idx, column, '')
#                 continue
    pandasdf.to_json(s3_filepath,orient='records')
    return None


def upload(pandasdf, region, bucket_name, s3_filepath):
    if islocal:
        upload_to_local(pandasdf,s3_filepath)
    else:
        upload_to_s3(pandasdf, region, bucket_name, s3_filepath)

properties = {
    "user": "test1",
    "password": "QmPhaQ8hYsxx"
}
uidTableName = "uid_creatTime"
acidTableName = "account_creatTime"
payTableName = "account_payTime"
url = "jdbc:mysql://54.223.192.252:3306/test"







Base = declarative_base()
dbname='mysql+mysqlconnector://test1:QmPhaQ8hYsxx@54.223.192.252:3306/test'
engine = create_engine(dbname, echo=False)
DBSession = scoped_session(sessionmaker(bind=engine))


class LTVByGid(Base):
    __tablename__ = "ltv_byGid"
    id = Column(Integer, primary_key=True)
    gid = Column(String(255))
    creat_time = Column(String(255))
    people_count = Column(String(255))
    days = Column(String(255))
    consume = Column(Float, nullable=True)

class LTVBySid(Base):
    __tablename__ = "ltv_bySid"
    id = Column(Integer, primary_key=True)
    sid = Column(String(255))
    creat_time = Column(String(255))
    people_count = Column(String(255))
    days = Column(String(255))
    consume = Column(Float, nullable=True)
class LTVByCh(Base):
    __tablename__ = "ltv_byCh"
    id = Column(Integer, primary_key=True)
    ch = Column(String(255))
    creat_time = Column(String(255))
    people_count = Column(String(255))
    days = Column(String(255))
    consume = Column(Float, nullable=True)

def ltv_byGid_sqlalchemy_orm(df):
    # init_sqlalchemy()
    session = DBSession()
    x = []
    for dfdate in df.values:
        customer = LTVByGid()
        customer.gid = str(dfdate[0])
        customer.creat_time = str(dfdate[3])
        customer.people_count = str(dfdate[2])
        customer.days = str(dfdate[4])
        if dfdate[1] is None:
            customer.consume = float(0)
        else:
            customer.consume = float(dfdate[1]) / float(dfdate[2]) / 100
        x.append(customer)
    session.add_all(x)
    session.commit()

def ltv_bySid_sqlalchemy_orm(df):
    # init_sqlalchemy()
    session = DBSession()
    x = []
    for dfdate in df.values:
        customer = LTVBySid()
        customer.sid = str(dfdate[0])
        customer.creat_time = str(dfdate[3])
        customer.people_count = str(dfdate[2])
        customer.days = str(dfdate[4])
        if dfdate[1] is None:
            customer.consume = float(0)
        else:
            customer.consume = float(dfdate[1]) / float(dfdate[2]) / 100
        x.append(customer)
    session.add_all(x)
    session.commit()

def ltv_byCh_sqlalchemy_orm(df):
    # init_sqlalchemy()
    session = DBSession()
    x = []
    for dfdate in df.values:
        customer = LTVByCh()
        customer.ch = str(dfdate[0])
        customer.creat_time = str(dfdate[3])
        customer.people_count = str(dfdate[2])
        customer.days = str(dfdate[4])
        if dfdate[1] is None:
            customer.consume = float(0)
        else:
            customer.consume = float(dfdate[1]) / float(dfdate[2]) / 100
        x.append(customer)
    session.add_all(x)
    session.commit()

if __name__ == '__main__':
    begin = datetime.date(2017, 2, 1)
    end = datetime.date(2017, 6, 21)

    print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))), "creat spark session"
    spark = SparkSession \
        .builder.enableHiveSupport() \
        .appName("Python Spark SQL basic example") \
        .config("spark.some.config.option", "some-value") \
        .getOrCreate()
    for i in range((end - begin).days + 1):
        xx = str(begin + datetime.timedelta(days=i))
        pp = xx.split('-')
        day = "".join(pp)
        print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))),"start:",day

        df = spark.read.json(get_file_list(day,"logics3/"))
        print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))), "finish read original data"
        df.createOrReplaceTempView('RawTable')
        preparetable = 'RawTable'

        spark.sql(u'''
        SELECT
            *
        FROM %s
        WHERE accountid is not null
        AND type_name!="CorpLevelChg"
        ''' % preparetable).createOrReplaceTempView('jsonTable')
        print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))), "finish creat today jsonTable"
        # 获取当日log里的支付记录
        paylog_df = spark.sql(u"""
        SELECT
            jsonTable.userid as uid,
            jsonTable.accountid AS acid,
            jsonTable.gid AS gid,
            jsonTable.sid AS sid,
            jsonTable.channel AS ch,
            jsonTable.corplvl AS corpLvl,
            jsonTable.info.VipLvl AS vipLvl,
            jsonTable.info.Money AS payNum,
            jsonTable.info.PayTime AS payTime,
            SUBSTRING(jsonTable.logtime,0,10) AS LogTime,
            CAST(CAST(jsonTable.utc8 as DATE) as varchar(10)) AS date
        FROM jsonTable
        WHERE type_name = "IAP"
        """)
        print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))), "finish IAP"
        # 获取当日log里的最早的一次登录
        uidlogByChannel_df = spark.sql(u'''
                SELECT
                    t.uid AS uid,
                    SUBSTRING(t.lt,0,10) AS lt,
                    CAST(CAST(jsonTable.utc8 as DATE) as varchar(10)) AS date,
                    jsonTable.sid AS sid,
                    jsonTable.gid AS gid,
                    jsonTable.channel AS ch,
                    jsonTable.info.MachineType AS machine
                FROM (
                    SELECT
                        userid AS uid,
                        min(logtime) AS lt
                    FROM jsonTable
                    WHERE type_name="Login"
                    GROUP BY userid
                ) t
                LEFT JOIN jsonTable ON jsonTable.userid = t.uid AND jsonTable.logtime = t.lt
            ''')
        print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))), "finish uid Login"

        #读取createProfile
        uidlogNoChannel_df = spark.sql(u'''
                SELECT
                    t.uid AS uid,
                    SUBSTRING(t.lt,0,10) AS lt,
                    CAST(CAST(jsonTable.utc8 as DATE) as varchar(10)) AS date,
                    jsonTable.sid AS sid,
                    jsonTable.gid AS gid
                FROM (
                    SELECT
                        userid AS uid,
                        min(logtime) AS lt
                    FROM jsonTable
                    WHERE type_name="CreateProfile"
                    GROUP BY userid
                ) t
                LEFT JOIN jsonTable ON jsonTable.userid = t.uid AND jsonTable.logtime = t.lt
            ''')

        acidlogNoChannel_df = spark.sql(u'''
                SELECT
                    t.acid AS acid,
                    SUBSTRING(t.lt,0,10) AS lt,
                    CAST(CAST(jsonTable.utc8 as DATE) as varchar(10)) AS date,
                    jsonTable.sid AS sid,
                    jsonTable.gid AS gid
                FROM (
                    SELECT
                        accountid AS acid,
                        min(logtime) AS lt
                    FROM jsonTable
                    WHERE type_name="CreateProfile"
                    GROUP BY accountid
                ) t
                LEFT JOIN jsonTable ON jsonTable.accountid = t.acid AND jsonTable.logtime = t.lt
                ''')

        # 获取当日log里分服务器玩家角色的第一次登录
        acidlog_df = spark.sql(u'''
                SELECT
                    t.acid AS acid,
                    SUBSTRING(t.lt,0,10) AS lt,
                    CAST(CAST(jsonTable.utc8 as DATE) as varchar(10)) AS date,
                    jsonTable.sid AS sid,
                    jsonTable.gid AS gid,
                    jsonTable.channel AS ch,
                    jsonTable.info.MachineType AS machine
                FROM (
                    SELECT
                        accountid AS acid,
                        min(logtime) AS lt
                    FROM jsonTable
                    WHERE type_name="Login"
                    GROUP BY accountid
                ) t
                LEFT JOIN jsonTable ON jsonTable.accountid = t.acid AND jsonTable.logtime = t.lt
                ''')



        print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))), "finish acid Login"


        false_channel = getFalesChannel()
        true_channel = getTrueChannel()
        # 替换channel
        uid_creatTimeBychannelLog = uidlogByChannel_df.replace(false_channel, true_channel, "ch")

        paylog_data = paylog_df.replace(false_channel, true_channel, "ch")


        print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))), "finish all replace"
        print "uid Creat Time:"
        uid_creatTimeBychannelLog.show(3)
        print "acid Creat Time:"
        acidlogNoChannel_df.show(3)
        uidlogNoChannel_df.show(3)
        print "payLog:"
        paylog_data.show(3)
        print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))), "finish today data"
        # S3上读取中间数据
        #uid->creat time
        print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))), "union today uid_creatTime"

        #uid无Channel
        uidList = getTempDataList("uid_creatTime")
        if len(uidList) > 0:
            df_old_uid = spark.read.json(uidList)
            df_old_uid.createOrReplaceTempView('uidolddf')
            
            uidlogNoChannel_df.createOrReplaceTempView('uidnochanneldf')
            df_temp_uid_temp = spark.sql(
                '''
                    SELECT 
                        uid,
                        gid,
                        sid,
                        date,
                        lt
                    FROM uidolddf
                '''
            )
            
            uidlogNoChannel_df_temp = spark.sql(
                '''
                    SELECT 
                        uid,
                        gid,
                        sid,
                        date,
                        lt
                    FROM uidnochanneldf
                '''
            )
            
            union_df = df_temp_uid_temp.union(uidlogNoChannel_df_temp)
            
            final_uid_Result = union_df.rdd.map(lambda x: (x.uid, x)).reduceByKey(min_time).values()
#             schema =  StructType([
#                 StructField ("uid" , StringType(), True), 
#                 StructField("gid" , IntegerType(), True),
#                 StructField("sid" , IntegerType(), True),
#                 StructField("date" , StringType(), True),
#                 StructField("lt" , StringType(), True)])
            
            final_uid_Result_fream = spark.createDataFrame(final_uid_Result)
            
            final_uid_Result_fream.createOrReplaceTempView('uidlog')

            xx = final_uid_Result_fream.toPandas()
            upload(xx, 'cn-north-1', "prodlog", '/%s/uid_creatTime.json' % target_path)
        else:
            uidlogNoChannel_df.createOrReplaceTempView('uidlog')
            upload(uidlogNoChannel_df.toPandas(),'cn-north-1', "prodlog", '/%s/uid_creatTime.json' % target_path)
        print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))), "union today uid_creatTime"


        #acid无channel
        acidList = getTempDataList("acid_creatTime")
        if len(acidList) > 0:
            df_temp_acid = spark.read.json(acidList)
            
            df_temp_acid.createOrReplaceTempView('acidolddf')
            
            acidlogNoChannel_df.createOrReplaceTempView('acidnochanneldf')
            df_temp_uid_temp = spark.sql(
                '''
                    SELECT 
                        acid,
                        gid,
                        sid,
                        date,
                        lt
                    FROM acidolddf
                '''
            )
            
            uidlogNoChannel_df_temp = spark.sql(
                '''
                    SELECT 
                        acid,
                        gid,
                        sid,
                        date,
                        lt
                    FROM acidnochanneldf
                '''
            )
            
            union_df = df_temp_uid_temp.union(uidlogNoChannel_df_temp)
            
            
            final_acid_Result = union_df.rdd.map(lambda x: (x.acid, x)).reduceByKey(min_time).values()
            final_acid_Result_fream = spark.createDataFrame(final_acid_Result)
            final_acid_Result_fream.createOrReplaceTempView('acidlog')

            xx = final_acid_Result_fream.toPandas()
            print "acidListMerge",xx
            upload(xx, 'cn-north-1', "prodlog", '/%s/acid_creatTime.json' % target_path)
        else:
            acidlogNoChannel_df.createOrReplaceTempView('acidlog')
            upload(acidlogNoChannel_df.toPandas(), 'cn-north-1', "prodlog", '/%s/acid_creatTime.json' % target_path)
        print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))), "union today acid_creatTime "

        #渠道
        ChannelList = getTempDataList("uid_ByChannelcreatTime")
        if len(ChannelList) > 0:
            df_temp_uidChannel = spark.read.json(acidList)
            
            df_temp_uidChannel.createOrReplaceTempView('channelolddf')
            
            uidlogByChannel_df.createOrReplaceTempView('channelnochanneldf')
            df_temp_uid_temp = spark.sql(
                '''
                    SELECT 
                        uid,
                        gid,
                        sid,
                        date,
                        lt,
                        ch,
                        machine
                    FROM channelolddf
                '''
            )
            
            uidlogNoChannel_df_temp = spark.sql(
                '''
                    SELECT 
                        uid,
                        gid,
                        sid,
                        date,
                        lt,
                        ch,
                        machine
                    FROM channelnochanneldf
                '''
            )
            
            union_df = df_temp_uid_temp.union(uidlogNoChannel_df_temp)
            
            
            
            final_uidChannel_Result = union_df.rdd.map(lambda x: (x.acid, x)).reduceByKey(
                min_time).values()
            final_uidChannel_Result_fream = spark.createDataFrame(final_uidChannel_Result)
            final_uidChannel_Result_fream.createOrReplaceTempView('uidChannelLog')

            xx = final_uidChannel_Result_fream.toPandas()
            print "channelListMerge",xx
            upload(xx, 'cn-north-1', "prodlog", '/%s/uid_ByChannelcreatTime.json' % target_path)
        else:
            uidlogByChannel_df.createOrReplaceTempView('uidChannelLog')
            upload(uidlogByChannel_df.toPandas(), 'cn-north-1', "prodlog", '/%s/uidChannelLog.json' % target_path)
        print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))), "union today uid_ByChannelcreatTime "

        # 处理支付log
        paylog_data_pd = paylog_data.toPandas()

        # 读取支付历史数据
        payList = getTempDataList("payLog")
        if len(payList) > 0:
            historyPayLog = spark.read.json(payList)
            
            historyPayLog.createOrReplaceTempView('payolddf')
            
            paylog_data.createOrReplaceTempView('paytodaydf')
            df_temp_uid_temp = spark.sql(
                '''
                    SELECT 
                        uid,
                        acid,
                        gid,
                        sid,
                        date,
                        corpLvl,
                        ch,
                        vipLvl,
                        payNum,
                        payTime,
                        LogTime
                    FROM payolddf
                '''
            )
            
            uidlogNoChannel_df_temp = spark.sql(
                '''
                    SELECT 
                        uid,
                        acid,
                        gid,
                        sid,
                        date,
                        corpLvl,
                        ch,
                        vipLvl,
                        payNum,
                        payTime,
                        LogTime
                    FROM paytodaydf
                '''
            )
            
            #union_df = df_temp_uid_temp.union(uidlogNoChannel_df_temp)
            
            result_pdf = df_temp_uid_temp.union(uidlogNoChannel_df_temp)
            # 历史数据建立临时表
            result_pdf.createOrReplaceTempView('payLog')
            #上传支付log
            upload(paylog_data_pd, 'cn-north-1', "prodlog", '/%s_payLog.json' % (targetpay_path +day))
        else:
            paylog_data.createOrReplaceTempView('payLog')
            upload(paylog_data_pd, 'cn-north-1', "prodlog", '/%s_payLog.json' % (targetpay_path +day))


        spark.sql(u'''
                SELECT
                    uid AS uid,
                    SUM(payNum) AS sumpay,
                    gid AS gid
                FROM payLog
                GROUP BY gid,uid
                ''').createOrReplaceTempView('payByGid')

        spark.sql(u'''
                SELECT
                    acid AS acid,
                    SUM(payNum) AS sumpay,
                    sid AS sid
                FROM payLog
                GROUP BY sid,acid
                ''').createOrReplaceTempView('payBySid')

        spark.sql(u'''
                SELECT
                    uid AS uid,
                    SUM(payNum) AS sumpay,
                    ch AS ch
                FROM payLog
                GROUP BY ch,uid
                ''').createOrReplaceTempView('payByCh')
        
        #计算paylog的付费人数，付费金额，付费次数，
        spark.sql(u'''
                SELECT
                    SUM(payNum) AS sumpay,
                    gid AS gid,
                    COUNT(DISTINCT uid) AS peoples,
                    COUNT(s.uid) AS PayCounts
                    
                FROM payLog
                GROUP BY gid
                ''').createOrReplaceTempView('paySummaryByGid')

        spark.sql(u'''
                SELECT
                    SUM(payNum) AS sumpay,
                    sid AS sid,
                    COUNT(DISTINCT uid) AS peoples,
                    COUNT(s.uid) AS PayCounts
                    
                FROM payLog
                GROUP BY sid
                ''').createOrReplaceTempView('paySummaryBySid')

        spark.sql(u'''
                SELECT
                    SUM(payNum) AS sumpay,
                    ch AS ch,
                    COUNT(DISTINCT uid) AS peoples,
                    COUNT(s.uid) AS PayCounts
                    
                FROM payLog
                GROUP BY ch
                ''').createOrReplaceTempView('paySummaryByCh')
        
        
        # 查出账号创建时间
        print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))), "start ltv"
        cToday = datetime.date(int(pp[0]), int(pp[1]), int(pp[2]))
        
        spark.sql(u'''
                SELECT
                    gid AS gid,
                    
        
        
        
        '''
        
        
        )
        
        for i in range((cToday - firstDay).days + 1):
            creatDay = u''' "%s"''' % str(firstDay + datetime.timedelta(days=i))
            creatDayDateTime = firstDay + datetime.timedelta(days=i)
            theday = (cToday - creatDayDateTime).days + 1
            payResultByGid = spark.sql(u'''
                                            SELECT
                                                s.gid AS gid,
                                                SUM(t.pay) AS payNum,
                                                COUNT(s.uid) AS people,
                                                first(s.date) AS date
                                            FROM(
                                            (SELECT
                                                uid AS uid,
                                                date AS date ,
                                                gid AS gid
                                            FROM uidlog
                                            WHERE date = %s) s
                                            LEFT OUTER JOIN(
                                            SELECT
                                                uid AS uid,
                                                sumpay AS pay,
                                                gid AS gid
                                            FROM payByGid
                                            ) t
                                            on t.uid = s.uid)
                                            GROUP BY s.gid
                                        ''' % creatDay)

            finalLTV_ByGid = payResultByGid.withColumn("days", payResultByGid.people - payResultByGid.people + theday)
            payResultBySid = spark.sql(u'''
                                            SELECT
                                                s.sid As sid,
                                                SUM(t.payNum) AS payNum,
                                                COUNT(s.acid) AS people,
                                                first(s.date) AS date
                                            FROM(
                                            (SELECT
                                                acid AS acid,
                                                date AS date,
                                                sid AS sid
                                            FROM acidlog
                                            WHERE date = %s) s
                                            LEFT OUTER JOIN(
                                            SELECT
                                                acid AS acid,
                                                sumpay AS payNum,
                                                sid AS sid
                                            FROM payBySid
                                            ) t
                                            on t.acid = s.acid)
                                            GROUP BY s.sid
                                        ''' % creatDay)

            finalLTV_BySid = payResultBySid.withColumn("days", payResultBySid.people - payResultBySid.people + theday)
            payResultByCh = spark.sql(u'''
                                            SELECT
                                                s.ch AS ch,
                                                SUM(t.pay) AS payNum,
                                                COUNT(s.uid) AS people,
                                                first(s.date)
                                            FROM(
                                            (SELECT
                                                uid AS uid,
                                                date AS date ,
                                                ch AS ch
                                            FROM uidChannelLog
                                            WHERE date = %s) s
                                            LEFT OUTER JOIN(
                                            SELECT
                                                uid AS uid,
                                                sumpay AS pay,
                                                ch AS ch
                                            FROM payByCh
                                            ) t
                                            on t.uid = s.uid)
                                            GROUP BY s.ch
                                        ''' % creatDay)

            finalLTV_ByCh = payResultByCh.withColumn("days", payResultByCh.people - payResultByCh.people + theday)

            payResultByGid_pd = finalLTV_ByGid.toPandas()
            payResultBySid_pd = finalLTV_BySid.toPandas()
            payResultByCh_pd = finalLTV_ByCh.toPandas()

            # 替换 nan
            payResultByGid_pd = payResultByGid_pd.where(payResultByGid_pd.notnull(), None)
            payResultBySid_pd = payResultBySid_pd.where(payResultBySid_pd.notnull(), None)
            payResultByCh_pd = payResultByCh_pd.where(payResultByCh_pd.notnull(), None)
            print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))), "finish today ltv,begin ->sql"
            ltv_byGid_sqlalchemy_orm(payResultByGid_pd)
            ltv_bySid_sqlalchemy_orm(payResultBySid_pd)
            ltv_byCh_sqlalchemy_orm(payResultByCh_pd)
        print time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(time.time()))), "finish today data"

    spark.stop()

2017-06-28 18:39:12 creat spark session
2017-06-28 18:39:12 start: 20170201
2017-06-28 18:39:12 finish read original data
2017-06-28 18:39:12 finish creat today jsonTable
2017-06-28 18:39:12 finish IAP
2017-06-28 18:39:12 finish uid Login
2017-06-28 18:39:12 finish acid Login
2017-06-28 18:39:12 finish all replace
uid Creat Time:
+--------------------+----------+----------+----+---+------------+--------------------+
|                 uid|        lt|      date| sid|gid|          ch|             machine|
+--------------------+----------+----------+----+---+------------+--------------------+
|38420ce1-b171-4ee...|1485909512|2017-02-01|1001|200|130134005400|         Xiaomi MI 5|
|b4c12f87-3751-4c3...|1485913264|2017-02-01|1001|200|130134004600|YuLong Coolpad 86...|
|504717e5-384b-466...|1485919808|2017-02-01|1001|200|130134001500|         Meizu PRO 5|
+--------------------+----------+----------+----+---+------------+--------------------+
only showing top 3 rows

acid Creat Time:
+--------------------+----------+----------+----+---+
|                acid|        lt|      date| sid|gid|
+--------------------+----------+----------+----+---+
|200:1001:006c83d5...|1485915425|2017-02-01|1001|200|
|200:1001:8dea1830...|1485928256|2017-02-01|1001|200|
|200:1001:e9fa42f7...|1485958029|2017-02-01|1001|200|
+--------------------+----------+----------+----+---+
only showing top 3 rows

+--------------------+----------+----------+----+---+
|                 uid|        lt|      date| sid|gid|
+--------------------+----------+----------+----+---+
|697b6f94-2f7a-4e2...|1485946542|2017-02-01|1001|200|
|e842a215-2a8b-422...|1485966165|2017-02-02|1001|200|
|a6e03dd8-3851-405...|1485926135|2017-02-01|1001|200|
+--------------------+----------+----------+----+---+
only showing top 3 rows

payLog:
+--------------------+--------------------+---+----+------------+-------+------+------+--------------+----------+----------+
|                 uid|                acid|gid| sid|          ch|corpLvl|vipLvl|payNum|       payTime|   LogTime|      date|
+--------------------+--------------------+---+----+------------+-------+------+------+--------------+----------+----------+
|7a576463-90f9-420...|200:1001:7a576463...|200|1001|130134001300|     81|    11|   600|20170201075826|1485907229|2017-02-01|
|fcf736a7-abf4-44e...|200:1001:fcf736a7...|200|1001|        5000|     69|     6|   100|20170201081234|1485907988|2017-02-01|
|fcf736a7-abf4-44e...|200:1001:fcf736a7...|200|1001|        5000|     69|     6|  3000|20170201081332|1485908044|2017-02-01|
+--------------------+--------------------+---+----+------------+-------+------+------+--------------+----------+----------+
only showing top 3 rows

2017-06-28 18:39:14 finish today data
2017-06-28 18:39:14 union today uid_creatTime
[]
2017-06-28 18:39:14 union today uid_creatTime
[]
2017-06-28 18:39:14 union today acid_creatTime
[]
2017-06-28 18:39:15 union today uid_ByChannelcreatTime
[]
2017-06-28 18:39:15 start ltv
2017-06-28 18:39:15 finish today data
2017-06-28 18:39:15 start: 20170202
2017-06-28 18:39:15 finish read original data
2017-06-28 18:39:15 finish creat today jsonTable
2017-06-28 18:39:15 finish IAP
2017-06-28 18:39:15 finish uid Login
2017-06-28 18:39:15 finish acid Login
2017-06-28 18:39:15 finish all replace
uid Creat Time:
+--------------------+----------+----------+----+---+------------+--------------------+
|                 uid|        lt|      date| sid|gid|          ch|             machine|
+--------------------+----------+----------+----+---+------------+--------------------+
|504717e5-384b-466...|1485995478|2017-02-02|1001|200|130134001500|         Meizu PRO 5|
|38420ce1-b171-4ee...|1486007578|2017-02-02|1001|200|130134005400|         Xiaomi MI 5|
|c9b57475-3816-44a...|1486009039|2017-02-02|1001|200|130134001500|HUAWEI HUAWEI NXT...|
+--------------------+----------+----------+----+---+------------+--------------------+
only showing top 3 rows

acid Creat Time:
+--------------------+----------+----------+----+---+
|                acid|        lt|      date| sid|gid|
+--------------------+----------+----------+----+---+
|200:1001:8056ce7d...|1486046911|2017-02-02|1001|200|
|200:1001:c5181815...|1486002557|2017-02-02|1001|200|
|200:1001:10ee9747...|1486021301|2017-02-02|1001|200|
+--------------------+----------+----------+----+---+
only showing top 3 rows

+--------------------+----------+----------+----+---+
|                 uid|        lt|      date| sid|gid|
+--------------------+----------+----------+----+---+
|471ca065-e854-4d5...|1486000886|2017-02-02|1001|200|
|36322af9-7603-4a8...|1486042246|2017-02-02|1001|200|
|7fce27d1-7e3e-40e...|1485999708|2017-02-02|1001|200|
+--------------------+----------+----------+----+---+
only showing top 3 rows

payLog:
+--------------------+--------------------+---+----+------------+-------+------+------+--------------+----------+----------+
|                 uid|                acid|gid| sid|          ch|corpLvl|vipLvl|payNum|       payTime|   LogTime|      date|
+--------------------+--------------------+---+----+------------+-------+------+------+--------------+----------+----------+
|f73ef3ed-6acc-4bc...|200:1001:f73ef3ed...|200|1001|130134001300|     79|    11|   600|20170202080100|1485993691|2017-02-02|
|c920b03e-8011-494...|200:1001:c920b03e...|200|1001|130134001500|     30|     0|   600|20170202080324|1485993985|2017-02-02|
|e4b5d937-76ad-487...|200:1001:e4b5d937...|200|1001|130134001300|     72|     9|  2500|20170202080933|1485994227|2017-02-02|
+--------------------+--------------------+---+----+------------+-------+------+------+--------------+----------+----------+
only showing top 3 rows

2017-06-28 18:39:17 finish today data
2017-06-28 18:39:17 union today uid_creatTime
['/Users/tq/bigdatatest/uid_creatTime.json']
2017-06-28 18:39:20 union today uid_creatTime
['/Users/tq/bigdatatest/acid_creatTime.json']
acidListMerge                                               acid  gid   sid        date  \
0    200:1001:9ad0faf7-feac-4d22-b750-aab9fdd9d6d1  200  1001  2017-02-02
1    200:1001:cdf8010a-e27e-4407-94d1-c050067fa578  200  1001  2017-02-01
2    200:1001:5c4d7820-e97d-4ab6-b194-2f2fcd6c425d  200  1001  2017-02-02
3    200:1001:d9fde481-e002-43a0-8f04-f25276832171  200  1001  2017-02-02
4    200:1001:ac0c133b-6749-4add-b381-fb19aabd64da  200  1001  2017-02-02
5    200:1001:3f1dc78e-b5c2-48fd-9b57-5ec99e973148  200  1001  2017-02-02
6    200:1001:20db349a-3e2f-45c9-89ae-bfd1f93ea5d6  200  1001  2017-02-02
7    200:1001:3f20c3a9-fa40-4cf7-b152-8c0224081e49  200  1001  2017-02-02
8    200:1001:beb74c9d-808b-40a9-a0f9-c9bcf1c88caf  200  1001  2017-02-01
9    200:1001:b937422c-217f-4a19-aaf5-06abdf860374  200  1001  2017-02-02
10   200:1001:f57301fc-07da-47fb-a983-54246ad0fea6  200  1001  2017-02-02
11   200:1001:0affc2c9-6eaa-46aa-9faa-0fc01c132970  200  1001  2017-02-01
12   200:1001:8056ce7d-86dd-4e7c-847c-370f2d742232  200  1001  2017-02-02
13   200:1001:73b6d305-baea-4aed-bd1a-036b37c63c0f  200  1001  2017-02-01
14   200:1001:fc647982-e056-4787-a1b5-b05c17d3add9  200  1001  2017-02-01
15   200:1001:ea7a0a7d-4756-4fe0-a1c3-2d9300004df2  200  1001  2017-02-01
16   200:1001:9156b312-d191-46cf-bc4c-f8177307f2c3  200  1001  2017-02-02
17   200:1001:0f6945ae-c903-43cd-bcaa-6884487efc60  200  1001  2017-02-01
18   200:1001:b4aace06-4e67-4666-b1c5-f3695359567b  200  1001  2017-02-02
19   200:1001:326730d8-7eee-4244-85da-5c1b2404b215  200  1001  2017-02-02
20   200:1001:a7e7412d-864c-43ae-8183-8d4beba7ad3c  200  1001  2017-02-02
21   200:1001:3b18975a-6e7c-4d7b-9cd5-f726df8cac65  200  1001  2017-02-01
22   200:1001:82c80635-c99b-4834-9ea7-9bf7995ca2f2  200  1001  2017-02-02
23   200:1001:bc649ab8-d4aa-4ae4-b32f-71ee9dc88086  200  1001  2017-02-02
24   200:1001:1c2a984c-1201-4ba4-a35e-f2d3dbe520e4  200  1001  2017-02-02
25   200:1001:8343d30f-b767-4f2c-be40-cc4be52eed78  200  1001  2017-02-02
26   200:1001:0b73dff2-f6b1-4d79-ab9a-05a28148a2a1  200  1001  2017-02-02
27   200:1001:dc69b490-fd3a-49db-88a7-1b24777ec6b3  200  1001  2017-02-02
28   200:1001:10ee9747-d18f-4c68-b286-00719aca6f3c  200  1001  2017-02-02
29   200:1001:d3ca056e-726a-4738-961a-3737bb41aa44  200  1001  2017-02-02
..                                             ...  ...   ...         ...
232  200:1001:41a36401-6ea2-4f71-8482-e11b94700406  200  1001  2017-02-02
233  200:1001:7e112ab1-03a2-4a09-851b-959e7d4ed779  200  1001  2017-02-01
234  200:1001:36ee7eb7-3341-4014-8952-38257fbd6686  200  1001  2017-02-02
235  200:1001:8033eba2-7634-4e43-8851-fbaf2d41a04e  200  1001  2017-02-01
236  200:1001:7b0bccec-1104-43ed-863b-8db301ad13ab  200  1001  2017-02-01
237  200:1001:15d0910d-ceac-47bc-b8d7-c9c187c54220  200  1001  2017-02-02
238  200:1001:d3dca8da-78bc-4135-8f40-84f4b4e62465  200  1001  2017-02-02
239  200:1001:3d1395f2-fedc-4a44-b3e8-3fd6fba88ff8  200  1001  2017-02-01
240  200:1001:9d8e1751-26e5-4793-99cd-cf49b0a88b7e  200  1001  2017-02-01
241  200:1001:1cbb30f8-8ddf-421a-8b3c-018631045ebc  200  1001  2017-02-02
242  200:1001:85d95010-63ac-4b4e-a984-0c3bdfaeac92  200  1001  2017-02-02
243  200:1001:657bf7cd-625a-47db-af23-9c70aea73b55  200  1001  2017-02-01
244  200:1001:5301e804-8282-47a1-97da-7922c24e0d00  200  1001  2017-02-03
245  200:1001:4ddd4eb0-9f14-4c3e-96ff-605703c46242  200  1001  2017-02-02
246  200:1001:f2ef8ad9-cce1-41d4-a8c2-fcebac0cfcf2  200  1001  2017-02-02
247  200:1001:697b6f94-2f7a-4e22-b039-3aa16dd1ea74  200  1001  2017-02-01
248  200:1001:cfe251ad-1280-4ab4-8c40-a13e12ee5132  200  1001  2017-02-01
249  200:1001:f4f8f99f-0555-4e8e-9ca2-6218d69ffffe  200  1001  2017-02-01
250  200:1001:471ca065-e854-4d5f-a6bb-31df5cc1d287  200  1001  2017-02-02
251  200:1001:8b4bf6b5-4de4-4203-ad7d-80eb103b1976  200  1001  2017-02-01
252  200:1001:13d3cfcc-fa15-478f-a8f5-85ed8d0e8ee4  200  1001  2017-02-01
253  200:1001:1a49885d-6ea7-461d-af62-2fd6ddd826ca  200  1001  2017-02-01
254  200:1001:755b3dfa-ebda-4ee6-aa88-2347cd58ebdd  200  1001  2017-02-02
255  200:1001:a3475e17-6f92-4cf3-be8c-ec46ca154028  200  1001  2017-02-02
256  200:1001:ea042aca-362b-4b8d-9d80-394514ca66e5  200  1001  2017-02-01
257  200:1001:6fd46fe3-60d7-4b0e-bc12-9f15588aa265  200  1001  2017-02-01
258  200:1001:a66dfb5c-859e-472b-b947-bdc060fdd0ea  200  1001  2017-02-02
259  200:1001:e4186ecd-afa7-49a1-8ac5-8d1e30dbe79c  200  1001  2017-02-02
260  200:1001:82245a08-afd4-4061-87a1-90796be56ba6  200  1001  2017-02-01
261  200:1001:b84d2f8d-65e4-4274-b43a-e2a5f844502c  200  1001  2017-02-01

             lt
0    1485980309
1    1485955778
2    1486028027
3    1486026868
4    1486004891
5    1486031370
6    1486006889
7    1485974263
8    1485939929
9    1486005121
10   1486031765
11   1485921495
12   1486046911
13   1485943713
14   1485954746
15   1485931535
16   1486035411
17   1485962345
18   1486049559
19   1486047651
20   1485967515
21   1485945044
22   1486029953
23   1486038993
24   1486005599
25   1486001168
26   1486047550
27   1486020328
28   1486021301
29   1486032860
..          ...
232  1486029942
233  1485920043
234  1486043808
235  1485932883
236  1485960386
237  1486020253
238  1485993262
239  1485910708
240  1485937774
241  1486034017
242  1486004525
243  1485947110
244  1486076970
245  1486024809
246  1485995523
247  1485946542
248  1485919515
249  1485923075
250  1486000886
251  1485930996
252  1485963685
253  1485920188
254  1486044790
255  1486026466
256  1485916265
257  1485922678
258  1486024655
259  1486025274
260  1485930480
261  1485934870

[262 rows x 5 columns]
2017-06-28 18:39:23 union today acid_creatTime
[]
2017-06-28 18:39:23 union today uid_ByChannelcreatTime
['/Users/tq/bigdatatest/pay/20170201_payLog.json']
2017-06-28 18:39:24 start ltv
2017-06-28 18:39:24 finish today data
2017-06-28 18:39:24 start: 20170203
2017-06-28 18:39:24 finish read original data
2017-06-28 18:39:24 finish creat today jsonTable
2017-06-28 18:39:24 finish IAP
2017-06-28 18:39:24 finish uid Login
2017-06-28 18:39:24 finish acid Login
2017-06-28 18:39:24 finish all replace
uid Creat Time:
+--------------------+----------+----------+----+---+------------+--------------------+
|                 uid|        lt|      date| sid|gid|          ch|             machine|
+--------------------+----------+----------+----+---+------------+--------------------+
|24e1a9d6-9929-45d...|1486081076|2017-02-03|1001|200|130134001300|        360 1505-A01|
|504717e5-384b-466...|1486086575|2017-02-03|1001|200|130134001500|         Meizu PRO 5|
|b4c12f87-3751-4c3...|1486089680|2017-02-03|1001|200|130134004600|YuLong Coolpad 86...|
+--------------------+----------+----------+----+---+------------+--------------------+
only showing top 3 rows

acid Creat Time:
+--------------------+----------+----------+----+---+
|                acid|        lt|      date| sid|gid|
+--------------------+----------+----------+----+---+
|200:1001:fd4b0463...|1486108150|2017-02-03|1001|200|
|200:1001:bdfe4975...|1486129321|2017-02-03|1001|200|
|200:1001:aa9e5a1d...|1486129339|2017-02-03|1001|200|
+--------------------+----------+----------+----+---+
only showing top 3 rows

+--------------------+----------+----------+----+---+
|                 uid|        lt|      date| sid|gid|
+--------------------+----------+----------+----+---+
|e1ff3ae0-b644-4d2...|1486105783|2017-02-03|1001|200|
|881c7b0f-c5e5-4a1...|1486143212|2017-02-04|1001|200|
|dedae4ee-6774-400...|1486101206|2017-02-03|1001|200|
+--------------------+----------+----------+----+---+
only showing top 3 rows

payLog:
+--------------------+--------------------+---+----+------------+-------+------+------+--------------+----------+----------+
|                 uid|                acid|gid| sid|          ch|corpLvl|vipLvl|payNum|       payTime|   LogTime|      date|
+--------------------+--------------------+---+----+------------+-------+------+------+--------------+----------+----------+
|046e9dba-79c4-4d3...|200:1001:046e9dba...|200|1001|130134001500|     79|    14|  3000|20170203091047|1486084263|2017-02-03|
|d4c87387-fb97-49f...|200:1001:d4c87387...|200|1001|130134005400|     25|     2|  3000|20170203092258|1486085100|2017-02-03|
|e9fd2261-30d4-470...|200:1001:e9fd2261...|200|1001|130134001300|     25|     3|  3000|20170203104537|1486089986|2017-02-03|
+--------------------+--------------------+---+----+------------+-------+------+------+--------------+----------+----------+
only showing top 3 rows

2017-06-28 18:39:25 finish today data
2017-06-28 18:39:25 union today uid_creatTime
['/Users/tq/bigdatatest/uid_creatTime.json']
2017-06-28 18:39:27 union today uid_creatTime
['/Users/tq/bigdatatest/acid_creatTime.json']
acidListMerge                                               acid  gid   sid        date  \
0    200:1001:9ad0faf7-feac-4d22-b750-aab9fdd9d6d1  200  1001  2017-02-02
1    200:1001:cdf8010a-e27e-4407-94d1-c050067fa578  200  1001  2017-02-01
2    200:1001:dc8f1d50-a421-4adb-a5f4-2c606098ef4f  200  1001  2017-02-03
3    200:1001:5c4d7820-e97d-4ab6-b194-2f2fcd6c425d  200  1001  2017-02-02
4    200:1001:d9fde481-e002-43a0-8f04-f25276832171  200  1001  2017-02-02
5    200:1001:ac0c133b-6749-4add-b381-fb19aabd64da  200  1001  2017-02-02
6    200:1001:3f1dc78e-b5c2-48fd-9b57-5ec99e973148  200  1001  2017-02-02
7    200:1001:20db349a-3e2f-45c9-89ae-bfd1f93ea5d6  200  1001  2017-02-02
8    200:1001:3f20c3a9-fa40-4cf7-b152-8c0224081e49  200  1001  2017-02-02
9    200:1001:49b73e60-5407-48dd-9d37-021885f2d357  200  1001  2017-02-03
10   200:1001:beb74c9d-808b-40a9-a0f9-c9bcf1c88caf  200  1001  2017-02-01
11   200:1001:85e251b6-df43-4c52-a01a-a3929cea74b1  200  1001  2017-02-03
12   200:1001:b937422c-217f-4a19-aaf5-06abdf860374  200  1001  2017-02-02
13   200:1001:f57301fc-07da-47fb-a983-54246ad0fea6  200  1001  2017-02-02
14   200:1001:0affc2c9-6eaa-46aa-9faa-0fc01c132970  200  1001  2017-02-01
15   200:1001:8056ce7d-86dd-4e7c-847c-370f2d742232  200  1001  2017-02-02
16   200:1001:ff0da345-5619-4d22-92f4-ec9111a6e394  200  1001  2017-02-03
17   200:1001:5e3f1cab-0f7a-44cc-8fb0-094b720b6339  200  1001  2017-02-03
18   200:1001:be4fd2b7-c8e8-4046-b9c0-02046a46b246  200  1001  2017-02-03
19   200:1001:73b6d305-baea-4aed-bd1a-036b37c63c0f  200  1001  2017-02-01
20   200:1001:fc647982-e056-4787-a1b5-b05c17d3add9  200  1001  2017-02-01
21   200:1001:ea7a0a7d-4756-4fe0-a1c3-2d9300004df2  200  1001  2017-02-01
22   200:1001:aa9e5a1d-d912-4ecb-b330-e132d57f1616  200  1001  2017-02-03
23   200:1001:9cbc9129-79dc-4ffc-8b44-96677db9dc8d  200  1001  2017-02-03
24   200:1001:9156b312-d191-46cf-bc4c-f8177307f2c3  200  1001  2017-02-02
25   200:1001:0f6945ae-c903-43cd-bcaa-6884487efc60  200  1001  2017-02-01
26   200:1001:b4aace06-4e67-4666-b1c5-f3695359567b  200  1001  2017-02-02
27   200:1001:326730d8-7eee-4244-85da-5c1b2404b215  200  1001  2017-02-02
28   200:1001:a7e7412d-864c-43ae-8183-8d4beba7ad3c  200  1001  2017-02-02
29   200:1001:3b18975a-6e7c-4d7b-9cd5-f726df8cac65  200  1001  2017-02-01
..                                             ...  ...   ...         ...
338  200:1001:ffe2e052-8260-45e6-bff7-96913bfbb470  200  1001  2017-02-03
339  200:1001:9d8e1751-26e5-4793-99cd-cf49b0a88b7e  200  1001  2017-02-01
340  200:1001:763f72a2-1bff-4990-9706-34d447073e45  200  1001  2017-02-03
341  200:1001:da7ba4f4-3458-4610-b9b7-fc90c9504148  200  1001  2017-02-03
342  200:1001:1cbb30f8-8ddf-421a-8b3c-018631045ebc  200  1001  2017-02-02
343  200:1001:85d95010-63ac-4b4e-a984-0c3bdfaeac92  200  1001  2017-02-02
344  200:1001:657bf7cd-625a-47db-af23-9c70aea73b55  200  1001  2017-02-01
345  200:1001:5301e804-8282-47a1-97da-7922c24e0d00  200  1001  2017-02-03
346  200:1001:4ddd4eb0-9f14-4c3e-96ff-605703c46242  200  1001  2017-02-02
347  200:1001:f2ef8ad9-cce1-41d4-a8c2-fcebac0cfcf2  200  1001  2017-02-02
348  200:1001:697b6f94-2f7a-4e22-b039-3aa16dd1ea74  200  1001  2017-02-01
349  200:1001:cfe251ad-1280-4ab4-8c40-a13e12ee5132  200  1001  2017-02-01
350  200:1001:f4f8f99f-0555-4e8e-9ca2-6218d69ffffe  200  1001  2017-02-01
351  200:1001:674a4083-b3aa-42a4-b323-5f5c6ce3a795  200  1001  2017-02-03
352  200:1001:1c957598-7c4d-40ff-b388-0007bb8f0b48  200  1001  2017-02-04
353  200:1001:471ca065-e854-4d5f-a6bb-31df5cc1d287  200  1001  2017-02-02
354  200:1001:e2c75ada-6baf-44dd-a992-63e4849b3e5a  200  1001  2017-02-03
355  200:1001:8b4bf6b5-4de4-4203-ad7d-80eb103b1976  200  1001  2017-02-01
356  200:1001:13d3cfcc-fa15-478f-a8f5-85ed8d0e8ee4  200  1001  2017-02-01
357  200:1001:1a49885d-6ea7-461d-af62-2fd6ddd826ca  200  1001  2017-02-01
358  200:1001:65bee98e-e680-4fec-a377-41f0bdda79c1  200  1001  2017-02-03
359  200:1001:755b3dfa-ebda-4ee6-aa88-2347cd58ebdd  200  1001  2017-02-02
360  200:1001:a3475e17-6f92-4cf3-be8c-ec46ca154028  200  1001  2017-02-02
361  200:1001:ea042aca-362b-4b8d-9d80-394514ca66e5  200  1001  2017-02-01
362  200:1001:6fd46fe3-60d7-4b0e-bc12-9f15588aa265  200  1001  2017-02-01
363  200:1001:a66dfb5c-859e-472b-b947-bdc060fdd0ea  200  1001  2017-02-02
364  200:1001:e4186ecd-afa7-49a1-8ac5-8d1e30dbe79c  200  1001  2017-02-02
365  200:1001:fd4b0463-63f1-4690-becb-46ad1767a9f4  200  1001  2017-02-03
366  200:1001:82245a08-afd4-4061-87a1-90796be56ba6  200  1001  2017-02-01
367  200:1001:b84d2f8d-65e4-4274-b43a-e2a5f844502c  200  1001  2017-02-01

             lt
0    1485980309
1    1485955778
2    1486105023
3    1486028027
4    1486026868
5    1486004891
6    1486031370
7    1486006889
8    1485974263
9    1486099258
10   1485939929
11   1486117709
12   1486005121
13   1486031765
14   1485921495
15   1486046911
16   1486128989
17   1486121596
18   1486129930
19   1485943713
20   1485954746
21   1485931535
22   1486129339
23   1486102431
24   1486035411
25   1485962345
26   1486049559
27   1486047651
28   1485967515
29   1485945044
..          ...
338  1486101178
339  1485937774
340  1486116022
341  1486107184
342  1486034017
343  1486004525
344  1485947110
345  1486076970
346  1486024809
347  1485995523
348  1485946542
349  1485919515
350  1485923075
351  1486124008
352  1486142336

AnalysisException: u'Path does not exist: file:/Users/tq/bigdatatest/20170204.log;'